table{
    width:100%;
    border: 1px;
}
 
table tr th{
    background-color: lightslategray;
}
 
table tr td{
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 48px;
    background-color: #3f51b5;
    color: #fff;
    padding: .5em;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);

    .title {
        flex: 1;
    }

    .avatar {
        height: 100%;
        border-radius: 50%;
        border: solid 1px #fff;
        margin: 0 1em;
    }
}

.login {
    text-align: center;
    margin: 5em 0;

    img {
        width: 50px;
        max-width: 100%;
    }
}

.content {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .card {
        display: flex;
        flex-direction: column;
        border: solid 1px #e6e6e6;
        margin-top: 3em;
        box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

        h2 {
            margin: 0;
        }

        .card-header {
            color: #4d4d4d;
            padding: 2em;
            border-bottom: solid 1px #e6e6e6;
        }

        .card-content {
            padding: 2em;
        }

        .list-item {
            // width: 800px;
            max-width: 100%;
            padding: .5em;
            display; flex;
            flex-direction: row;

            .title {
                color: #4d4d4d;
                margin-left: .5em;
            }
        }
    }
}

.btn {
    background-color: #e7e7e7; 
    color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    &.green {
        background-color: #4caf50;
        color: white
    }

    &.red {
        background-color: #f44336;
        color: white;
    }

    &.blue {
        background-color: #008cba;
        color: white;
    }
}