<nav class="nav" *ngIf="userService.isLogged()">
    <div class="title">TODO</div>
    <div class="login">Hi, {{userService.user?.details.login}}</div>
    <img class="avatar" [src]="userService.user?.details.avatar_url" alt="avatar" />
    <a class="btn blue" href="/.auth/logout">LOGOUT</a>
</nav>

<div class="login" *ngIf="!userService.isLogged()">
    <div>
        <img src="assets/github-logo.png" alt="Logo github" />
    </div>
    <div>
        <a class="btn blue" href="/.auth/login/github">LOG IN WITH GITHUB</a>
    </div>
</div>

<div class="content" *ngIf="userService.isLogged()">
    <div class="card">
        <h2 class="card-header">
            TODO
        </h2>
        <div *ngFor="let todo of todos" class="list-item">
            <input type="checkbox" checked="{{todo.Complete}}" readonly>
            <div class="title">{{todo.Title}}</div>
        </div> 
    </div>

    <!-- <table>
        <thead>
            <tr>
                <th>Todo</th>
                <th>Complete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.Title}}</td>
                <td></td>
            </tr>
        </tbody>
    </table> -->
</div>